@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Times New Roman", Times, serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.light {
	background-color: white;
	color: black;
	height: 100vh;
}

.dark {
	background-color: black;

	color: white;
	height: 100vh;
}
